{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Shares</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in portfolio %}
        <tr>
            <th scope="row">{{ row['symbol'] }}</th>
            <td>{{ row['name'] }}</td>
            <td>{{ row['price'] }}</td>
            <td>{{ row['amount'] }}</td>
            <td>{{ row['total'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td scope="row" colspan="4"><div class="text-end"><b>Cash:</b></div></td>
            <td>{{ cash }}</td>
        </tr>
        <tr>
            <td scope="row" colspan="4"><div class="text-end"><b>TOTAL:</b></div></td>
            <td>{{ grand_total }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}